@font-face {
    font-family: 'windsorold_styleregular';
    src: url('fonts/windsorold_style.woff2') format('woff2'),
    url('fonts/windsorold_style.woff') format('woff');
}

@font-face {
    font-family: 'windsorcregular';
    src: url('fonts/windsorc.woff2') format('woff2'),
    url('fonts/windsorc.woff') format('woff');
}

body {
    background-color: #9cfcbd;
    font-family: 'windsorcregular', serif;
    font-size: large;
    margin:0;
    padding:0;
}

a {
    color: #165708;
    font-size: larger;
    font-weight: bold;
    text-decoration:none;
}

h1 {
    font-family: 'windsorold_styleregular', serif;
    font-weight: bold;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-family: 'windsorold_styleregular', serif;
    font-variant: small-caps;
    margin: 30px 0 0;
}

.subtitle {
    font-family: 'windsorcregular', serif;
    font-size: large;
}

#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
}

#sidebar {
    float:right;
    width:30%;
    padding:10px;
    border-left: 2px #4f4f4f dotted;
    background: #72f6a0;
    height:100%;
}

p.date {
    color:#1a1919;
    font-size: 16px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background: #016530;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background: #72f6a0;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color: #1a1919;
}

/* search */
.search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #9cfcbd;
    box-sizing: border-box;
    border: 3px solid #ccc;
    font-size: large;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.search:focus {
    border: 3px solid #555;
}

.share {
    padding: 8px;
    justify-items: center;
}
/* similar articles */
#similar {

}