{% load article_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/articles.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Несерьёзные новости</h2>
    <p>о несерьёзном из серьёзных источников</p>

    <p>На сегодня у нас новостей: {% numbers %}</p>

    <h3>Сейчас обсуждают:</h3>
    {% get_popular as popular %}
    <ul>
      {% for article in popular %}
      <li>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> {{ article.comments.count }} комментариев
      </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>