{% load crispy_forms_tags %}
<div id="comments">
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            {{ comment.author }}, {{ comment.author.city }},
            {{ comment.created }}
        </p>
        <p class="comment_text">
            {{ comment.text }}
        </p>
    </div>
    {% endfor %}
</div>

{% include "articles/pagination.html" with page=comments %}

{% if new_comment %}
    <h3>Комментарий добавлен.</h3>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p><input type="submit" id="send_comment" value="Отправить"></p>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Войдите</a> или
        <a href="{% url 'signup' %}">зарегистрируйтесь</a>, чтобы оставить комментарий
    {% endif %}
{% else %}
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p><input type="submit" id="send_comment" value="Отправить"></p>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Войдите</a> или
        <a href="{% url 'signup' %}">зарегистрируйтесь</a>, чтобы оставить комментарий
    {% endif %}
{% endif %}
