{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <p class="date">
        {{ article.publish }}
    </p>

    <img src="{{ article.image_url|default_if_none:'#' }}" class="cover" alt="{{article.title}}">
    {{ article.content|linebreaks }}

    {% include "articles/article/tags.html" %}

    {% include "articles/article/share.html" %}
    <hr>
    {% include "articles/article/comments.html" %}
{% endblock %}

{% block also %}
    {% include "articles/article/similar.html" %}
{% endblock %}

{% block js_script %}
    <script>
        const commentsSocket = new WebSocket(
            "ws://"
            + window.location.host
            + "/articles/"
            + "{{ article.id }}"
            + "/"
        )

        commentsSocket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            const commentsList = document.getElementById('comments');
            commentsList.insertAdjacentHTML(
                "beforeend",
                '<div class="comment">\n' +
                '<p class="info">' +
                data['message']['author'] + ', ' +
                data['message']['city'] + ', ' +
                data['message']['created'] +
                '</p>\n' +
                data['message']['text'] +
                '</div>'
            )
        };

        document.querySelector("#send_comment").onclick = function (e) {

            e.preventDefault()
            const message = document.querySelector("#id_text");
            const text = message.value;

            commentsSocket.send(JSON.stringify({
                "text": text
            }));
            message.value = '';
        }
    </script>
{% endblock js_script %}
