{% extends "base.html" %}
{% load static %}
{% load article_tags %}
{% load pluralize %}

{% block title %}Все новости{% endblock %}

{% block content %}
    <h1>Все новости</h1>
    {% for article in articles %}
        <h2>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a>
        </h2>

        <p class="date">
            {{ article.publish }}
        </p>
        {% if article.image_url %}
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.image_url|default_if_none:'#' }}" class="cover-list" alt="{{article.title}}">
            </a>
        {% endif %}

        {{ article.content|truncatewords:30|linebreaks }}

        {% include "articles/article/tags.html" %}

        <a href="{{ article.get_absolute_url }}#comments"><h4>
            {{ article.comments.count }} {{ article.comments.count|pluralize }}
        </h4></a>
        <hr>
    {% endfor %}
    {% include "articles/pagination.html" with page=page_obj %}
{% endblock %}

{% block also %}
    <div class="also">
    {% if user.is_authenticated %}
        Привет, {{ user.username }}!
        <p><a href="{% url 'logout' %}">Выход</a></p>
    {% else %}
        <a href="{% url 'login' %}">Вход</a> |<a href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
    <h3>Сейчас обсуждают:</h3>
    {% get_popular as popular %}
        {% for article in popular|slice:':3' %}
            <a class="similar" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            {{ article.comments.count }} {{ article.comments.count|pluralize }}
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block feed %}
    <p>
        <a href="{% url "articles:feed" %}" target="_blank">
        <img src="{% static "img/icons/rss.png" %}" alt="rss" width="100%"></a>
    </p>
{% endblock %}
