{% load article_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/articles.css" %}" rel="stylesheet">
</head>

<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="sidebar">
    <a href="/"><h2>Несерьёзные новости</h2></a>
    <p class="subtitle">о несерьёзном из серьёзных источников</p>

    {% block feed %}
    {% endblock %}

    {% block also %}
    {% endblock %}

    <form action="{% url 'articles:search' %}" method="get">
        <div class="search_form">
            <input name="q" class="search" type="text" placeholder="Искать на сайте" aria-label="Search">
            <input class="magnifier" type="submit" value="🔍">
        </div>
    </form>
  </div>
</body>
</html>