{% with comments.count as total_comments %}
<h4>
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h4>

{% endwith %}

{% for comment in comments %}
    <div class="comment" id="comments">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.text|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
{% if new_comment %}
    <h3>Комментарий добавлен.</h3>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% else %}
    <h3>Прокомментировать</h3>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}