{% extends "articles/base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>

    {{ article.body|linebreaks }}

    <p class="date">
        {{ article.publish }}
    </p>

    {% include "articles/article/tags.html" %}

    {% include "articles/article/share.html" %}
    <br>
    <a href="/">Ко всем новостям</a>
    <hr>
    {% include "articles/article/comments.html" %}
{% endblock %}

{% block similar %}
    {% include "articles/article/similar.html" %}
{% endblock %}
