{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <p class="date">
        {{ article.publish }}
    </p>

    <img src="{{ article.image_url|default_if_none:'#' }}" class="cover" alt="{{article.title}}">
    {{ article.body|linebreaks }}

    {% include "articles/article/tags.html" %}

    {% include "articles/article/share.html" %}
    <br>
    <a href="/">Ко всем новостям</a>
    <hr>
    {% include "articles/article/comments.html" %}
{% endblock %}

{% block also %}
    {% include "articles/article/similar.html" %}
{% endblock %}

