{% extends "articles/base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p class="date">
        {{ article.publish }}, {{ article.author }}
    </p>
    {{ article.body|linebreaks }}

    {% load sharing %}
    {% post_to_facebook object_or_url %}
    {% post_to_twitter . object_or_url %}
    {% post_to_reddit object_or_url %}
    {% post_to_telegram object_or_url %}
    {% post_to_whatsapp object_or_url %}
    {% post_to_vk object_or_url %}
    <br><br>
    <a href="/">Ко всем новостям</a>
{% endblock %}
