{% extends "articles/base.html" %}

{% block title %}Все новости{% endblock %}

{% block content %}
    <h1>Все новости</h1>
    {% for article in articles %}
        <h2>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a>
        </h2>
        <p class="tags">Tags: {{ article.tags.all|join:", " }}</p>
        <p class="date">
            {{ article.publish }}, {{ article.author }}
        </p>
        {{ article.body|truncatewords:30|linebreaks }}

        {% with article.comments.count as total_comments %}
            <a href="{{ article.get_absolute_url }}"><h4>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h4></a>
        {% endwith %}
        <hr>
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}
