{% extends "base.html" %}
{% load static %}
{% load article_tags %}

{% block title %}Все новости{% endblock %}

{% block content %}
    <h1>Все новости</h1>
    {% for article in articles %}
        <h2>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a>
        </h2>

        <p class="date">
            {{ article.publish }}
        </p>
        {% if article.image_url %}
        <img src="{{ article.image_url|default_if_none:'#' }}" class="cover-list" alt="{{article.title}}">
        {% endif %}

        {{ article.body|truncatewords:30|linebreaks }}

        {% include "articles/article/tags.html" %}

        {% with article.comments.count as total_comments %}
            <a href="{{ article.get_absolute_url }}#comments"><h4>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h4></a>
        {% endwith %}
        <hr>
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}

{% block also %}


    <div class="also">
    <h3>Сейчас обсуждают:</h3>
    {% get_popular as popular %}
        {% for article in popular|slice:':3' %}
            <a class="similar" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            {{ article.comments.count }} комментариев
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block feed %}
    <p>
        <a href="{% url "articles:feed" %}" target="_blank"><img src="{% static "img/icons/rss.png" %}"></a>
    </p>
{% endblock %}
